body {
  background-image: url(../imgs/bg-image.jpg);
  font-family: 'Kanit', sans-serif; 
  font-size: 16px;
}
.main-content {
  background-color: white; 
} 
.logo-box{
  padding : 6px 16px; 
}
.a-link{ 
    color: black;
    background-color: transparent; 
    text-decoration: none;
}
.login-box{ 
  padding: 22px 42px;
  font-size: 20px;
}
.card-item{
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 15px;
  margin-top: 10px;
}
.footer{
  margin-top: 20px;
  margin-bottom: 40px;
} 
.sum-bath{
  font-size: 24px;
  font-weight: bold;
  margin: 24px 15px 24px 20px;
}
.select-menu {
  padding: 19px 0 24px 0;
}
.start-order{
  font-size: 20px; 
}
.promotion-menu{
  margin: 10px 32px;
  font-size: 40px; 
  font-weight: bold;
}